Source: python-guild
Maintainer: Michael Sparks <sparks.m@gmail.com>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-guild
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: python-guild
 .
 This is initially just a collection of random test ideas. It may grow into
 something more interesting.  It may not.
 .
